.container {
    height: calc(100% - 40px);
}

.list-item__create {
    height: max-content;
}

.input__content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeb9b9;
    padding: 10px;
}

.input__creator {
    height: 30px;
    width: 100%;
    padding: 0 5px;
    outline: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
}

.list__content {
    padding: 5px 10px;
}
